<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/meta.ejs") %>
    <title>Time Tracker</title>
</head>
<body>
  <%- include("./partials/header.ejs") %>
    <div class="container mb-5" id="dashboard-main-content">
      <!-- TIMER -->
      <%- include("./components/timer.ejs") %>

      <!-- ACCORDIONS -->
      <%- include("./components/accordions.ejs") %>

      <!-- ALL TRACKS -->
      <%- include("./components/tracks.ejs") %>
    </div>
    <!-- SCRIPT JS -->
    <%- include("./partials/scripts.ejs") %>

<%- include("./partials/footer.ejs") %>