<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs") %>
    <title>Time Tracker</title>
</head>
<body>
    <header class="p-4 mb-3 border-bottom" id="header">
        <div class="container">
          <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-md-0">
              <li><a href="/" class="nav-link px-2 link-light"><strong>Time Tracker</strong></a></li>
            </ul>

    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/user.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><h6 class="dropdown-header"><%= username %></h6></li>
                <li><p class="dropdown-header"><%= email %></p></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    <div class="container mb-5" id="dashboard-main-content">

      <% if (success && success.length > 0) { %>
        <div class="alert alert-success mt-3 flash-message" role="alert"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;<%= success %> </div>
      <% } %>

        <div id="all-projects-container">
          <h3 class="mb-4"><small><i class="fas fa-clock"></i></small> <strong>All Projects</strong></h3>
          <% if(Object.keys(projects).length > 0) { %>
            <table class="table" id="all-projects">
              <% projects.forEach(function(project){ %>
                <tr class="<%= project.Status == 'Running' ? 'active-timer' : '' %>">
                  <td style="border-left:10px solid <%= project.Color %>;" class="align-middle mobile-timer-alignment"><%= project.Name %></td>
                  <td class="align-middle"><strong><%= project.Time_spent %></strong></td>
                  <td class="align-middle project-timer text-center">
                  <% if(ActiveTimer && ActiveTimer.projectId) { %>
                    <% if(project.Id == ActiveTimer.projectId) { %>
                      <span id="timer-<%= project.Id %>" class="badge rounded-pill"><%= ActiveTimer.timer %></span>
                    <% } else { %>
                      <span id="timer-<%= project.Id %>" class="badge rounded-pill">00:00:00</span>
                    <% } %>
                  <% } else { %>
                    <span id="timer-<%= project.Id %>" class="badge rounded-pill">00:00:00</span>
                  <% } %>
                  </td>
                  <td class="align-middle">
                  <% if(project.Status == 'Running'){ %>
                    <div class="text-center">
                      <button data-bs-toggle="modal" data-bs-target="#modalStopTimer" class="timer-control">
                        <i class="fas fa-pause"></i>
                      </button>
                    </div>

                    <div class="modal fade" id="modalStopTimer" tabindex="-1" aria-labelledby="stop-timer-modal-header" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5 text-dark" id="stop-timer-modal-header"><strong>Stop Timer</strong></h1>
                          </div>
                          <div class="modal-body">
                            <form action="/run" method="POST" id="running-form">
                              <input type="hidden" value="<%= project.Id %>" name="projectId">
                              <div class="mb-3">
                                <textarea class="form-control" id="project-description" name="projectDescription" placeholder="Note" rows="5" style="resize:none;"></textarea>
                              </div>
                              <button type="submit" class="btn btn-success">Save</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% } else{ %>
                    <div class="text-center">
                      <form action="/pause" method="POST" style="display: inline;">
                        <input type="hidden" value="<%= project.Id %>" name="projectId">
                        <button type="submit" class="timer-control">
                            <i class="fas fa-play"></i>
                        </button>
                      </form>
                    </div>
                  <% } %>
                  </td>
                </tr>
              <% }); %>
            </table>
            <% } else { %>
              <p style="font-size:20px;">Aggiungi almeno un progetto per incominciare a tracciare! 😃</p>
            <% } %>
            <% if (trackError && trackError.length > 0) { %>
              <div class="alert alert-danger mt-3 flash-message" role="alert"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;<%= trackError %> </div>
            <% } %>
        </div>
        <div class="accordion my-5" id="accordionDashboard">
          <div class="row">
            <div class="col-md-6">
              <!-- Add New Project -->
              <div class="accordion-item mobile-mrg">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h3><small><i class="fas fa-plus"></i></small> <strong>Track a new project</strong></h3>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionDashboard">
                  <div class="accordion-body">
                    <form action="/newProject" method="POST" class="mt-3">
                      <div class="mb-3">
                        <input type="text" class="form-control" required id="project-name" name="projectName" placeholder="Nome del progetto">
                      </div>
                      <div class="mb-3">
                        <label for="project-color">Etichetta:</label>
                        <input type="color" class="form-control mt-2" style="width:50px;" required id="project-color" name="projectColor" value="#ff0000">
                      </div>
                      <button type="submit" class="btn btn-success"><strong>Add</strong></button>
                      <% if (error && error.length > 0) { %>
                        <div class="alert alert-danger mt-3 flash-message" role="alert"><i class="fas fa-times-circle"></i>&nbsp;&nbsp; <%= error %> </div>
                      <% } %>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Add New Track -->
              <% if(Object.keys(selectProjects).length > 0) { %>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      <h3><small><i class="fas fa-plus"></i></small> <strong>Add manually a new track</strong></h3>
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionDashboard">
                    <div class="accordion-body">
                      <form action="/newTrack" method="POST" class="mt-3">
                        <div class="mb-3">
                          <label for="track_project_id" class="mb-1">Project:</label>
                          <select name="track_project_id" class="form-select" id="track_project_id">
                          <% selectProjects.forEach(item => { %>
                            <option value="<%= item.Id %>"><%= item.Name %></option>
                          <% }); %>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="trackStartTime" class="mb-1">Start Time:</label>
                          <input type="datetime-local" class="form-control" required name="track_start_time" id="trackStartTime">
                        </div>
                        <div class="mb-3">
                          <label for="trackEndTime" class="mb-1">End Time:</label>
                          <input type="datetime-local" class="form-control" required name="track_end_time" id="trackEndTime">
                        </div>
                        <div class="mb-3">
                          <textarea class="form-control" name="track_description" rows="5" style="resize:none;" placeholder="Note"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success"><strong>Add</strong></button>
                      </form>
                    </div>
                  </div>
                </div>
                <% } %>
            </div>
          </div>
        </div>

        <% if (UpdateInsertTrackError && UpdateInsertTrackError.length > 0) { %>
          <div class="alert alert-danger mb-3 flash-message" role="alert"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;<%= UpdateInsertTrackError %> </div>
        <% } %>
        <% if (UpdateInsertTrackSuccess && UpdateInsertTrackSuccess.length > 0) { %>
          <div class="alert alert-success mt-3 flash-message" role="alert"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;<%= UpdateInsertTrackSuccess %> </div>
        <% } %>

        <% if(Object.keys(AllTracks).length != 0) { %>
        <div id="all-tracks">
          <div class="track-wrap">
            <table class="table table-light table-striped">
              <thead>
                <tr>
                  <th>Progetto</th>
                  <th>Note</th>
                  <th>Start time</th>
                  <th>End time</th>
                  <th>Total time</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% AllTracks.data.forEach(item => { %>
                  <tr>
                    <td><%= item.Name %></td>
                    <td style="max-width:300px;"><%= item.Description %></td>
                    <td><i><%= item.Start_time %></i></td>
                    <td><i><%= item.End_time %></i></td>
                    <td><%= item.Total_time %></td>
                    <td>
                      <% if (item.End_time) { %>
                      <button class="crud-track" data-bs-toggle="modal" data-bs-target="#modalEditTrack-<%= item.Id %>"><i class="far fa-edit"></i></button>
                      <!-- Modal Crud Edit -->
                      <div class="modal fade" id="modalEditTrack-<%= item.Id %>" tabindex="-1" aria-labelledby="stop-timer-modal-header" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5 text-dark" id="stop-timer-modal-header"><strong>Update Track</strong></h1>
                            </div>
                            <div class="modal-body">
                              <form action="/updateTrack" method="POST" class="update-track">
                                <input type="hidden" value="<%= item.Id %>" name="track_id">
                                <input type="hidden" value="<%= item.Project_id %>" name="project_id">
                                <div class="mb-3">
                                  <label for="updateStartTime">Start Time:</label>
                                  <input type="datetime-local" class="form-control" value="<%= item.Start_time_update %>" required name="start_time" id="updateStartTime">
                                </div>
                                <div class="mb-3">
                                  <label for="updateEndTime">End Time:</label>
                                  <input type="datetime-local" class="form-control" value="<%= item.End_time_update %>" required name="end_time" id="updateEndTime">
                                </div>
                                <div class="mb-3">
                                  <label for="updateDescription">Note:</label>
                                  <textarea class="form-control" name="description" id="updateDescription" rows="5" style="resize:none;"><%= item.Description %></textarea>
                                </div>
                                <button type="submit" class="btn btn-success">Update</button>
                              </form> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                    </td>
                  </tr>

                <% }); %>
              </tbody>
            </table>
          </div>


          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item <%= AllTracks.currentPage == 1 ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= AllTracks.currentPage - 1 %>#all-tracks" tabindex="-1">Prev</a>
              </li>

              <% for(let i = 1; i <= AllTracks.totalPages; i++) { %>
              <li class="page-item <%= i === AllTracks.currentPage ? 'active' : '' %>">
                <a href="?page=<%= i %>#all-tracks" class="page-link">
                   <%= i %>
                </a>
              </li>
              <% } %>

              <li class="page-item <%= AllTracks.currentPage == AllTracks.totalPages ? 'disabled' : '' %>">
                <a href="?page=<%= AllTracks.currentPage + 1 %>#all-tracks" class="page-link">Succ</a>
              </li>
            </ul>
          </nav>
          <% if(Object.keys(reportData).length > 0) { %>
          <h2 class="text-light mt-5"><small><i class="fas fa-chart-pie"></i></small>&nbsp;<strong>Monthly report</strong></h1>
          <div class="track-wrap">
            <table class="table table-light table-bordered mt-3">
              <thead>
                  <tr>
                      <th>Year</th>
                      <th>Month</th>
                      <th>Project</th>
                      <th>Total time</th>
                  </tr>
              </thead>
              <tbody>
                  <% for (const year in reportData) { %>
                      <% for (const month in reportData[year]) { %>
                          <tr>
                              <!-- Riga per ogni progetto nel mese e anno corrente -->
                              <% reportData[year][month].forEach((project, index) => { %>
                                  <tr>
                                      <!-- Mostra l'anno solo nella prima riga del blocco mese -->
                                      <% if (index === 0) { %>
                                          <td rowspan="<%= reportData[year][month].length %>"><strong><%= year %></strong></td>
                                      <% } %>
                                      
                                      <!-- Mostra il mese solo nella prima riga del blocco mese -->
                                      <% if (index === 0) { %>
                                          <td rowspan="<%= reportData[year][month].length %>"><strong><%= month %></strong></td>
                                      <% } %>
          
                                      <td><%= project.projectName %></td>
                                      <td><%= project.totalTime %></td>
                                  </tr>
                              <% }); %>
                          </tr>
                      <% } %>
                  <% } %>
              </tbody>
          </table>
        </div>
        <% } %>
        </div>
        <% } %>
    </div>
    <script>
      $(document).ready(function() {

        startTimer = function(Selector) {
          const timerElement = $("#timer-" + Selector);
          let [hours, minutes, seconds] = timerElement.text().split(':').map(Number);

          const timerInterval = setInterval(() => {
              seconds++;

              if (seconds === 60) {
                  seconds = 0;
                  minutes++;
              }
              if (minutes === 60) {
                  minutes = 0;
                  hours++;
              }
                
              timerElement.text(
                String(hours).padStart(2, '0') + ':' + 
                String(minutes).padStart(2, '0') + ':' + 
                String(seconds).padStart(2, '0')
              );
            }, 1000);
        }

          let runningProject = $("#running-form input[name='projectId']");
          if(runningProject.length > 0){
            startTimer(runningProject.val());
          }

      });
      
  </script>
<%- include("./partials/footer.ejs") %>